version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    env_file: .env
    ports:
      - "3307:3306"  
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - media_data:/app/media  # Map internal media folder to persistent volume
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: .env

volumes:
  db_data:
  media_data:  # Define the new media volume here